@use "variables";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: variables.$base-color;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

.prime_left {
    width: 50%;
    height: 100vh;
    display: flex;
    border-right: 1px rgba(245, 245, 245, 0.437) solid;
    transition: all 0.3s ease; 
    cursor: pointer;
    &:hover {
        width: 100%;
        transition: all 0.5s ease; 
    }
}

.prime_right {
    width: 50%;
    height: 100vh;
    display: flex;
    border-left: 1px rgba(245, 245, 245, 0.437) solid;
    transition: all 0.3s ease; 
    cursor: pointer;
    &:hover {
        width: 100%;
        transition: all 0.5s ease; 
    }
}
